---
import Layout from "../layouts/Layout.astro";
import SocialMedia from "../components/SocialMedia.astro";
import TechnologiesCarousel from "../components/TechnologiesCarousel.astro";
import Card from "../components/Card.astro";
---

<Layout title="Portfolio | Ulises Saucedo">
    <main class="mt-40 md:mt-56 mx-auto p-10">
        <section class="space-y-4 text-white max-w-[700px] mx-auto">
            <h1 class="text-5xl font-bold">
                Hey 👋, soy <span class="text-cyan-400">Ulises</span>
            </h1>
            <SocialMedia />
            <p class="text-sm text-balance font-normal">
                Comencé mi viaje en la programación a los 15 años, inmerso en
                una tecnicatura que ha sido fundamental en mi formación.
                Enfrenté diversos desafíos que contribuyeron al desarrollo de
                mis habilidades y conocimientos.
            </p>
        </section>
    </main>

    <section class="my-32 md:my-60 max-w-[700px] mx-auto">
        <TechnologiesCarousel
            images={[
                "./tecnologias/Vue.png",
                "./tecnologias/Firebase.png",
                "./tecnologias/Supabase.png",
                "./tecnologias/Vuetify.png",
                "./tecnologias/Tailwind.png",
                "./tecnologias/Bootstrap.svg",
                "./tecnologias/Notion.png",
            ]}
        />
    </section>

    <section class="my-32 md:my-60 max-w-[700px] mx-auto p-10 space-y-3">
        <h2 class="text-3xl text-white font-bold">Mis proyectos</h2>
        <section class="grid grid-cols-1 gap-10 w-full">
            <Card
                image="./proyectos/Blog.png"
                imageDescription="Blog project image"
                technologies={["ASTRO", "MDX"]}
                to="https://usblog-zeta.vercel.app/"
                title="Blog"
                description="Blog donde publico recursos varios para poder usar en la web."
            />
            <Card
                image="./proyectos/HS.png"
                imageDescription="Hair Salon project image"
                technologies={["VUE", "FORMKIT", "MONGODB", "MONGOOSE"]}
                to="https://hair-salon-drab.vercel.app/"
                title="Peluqueria"
                description="En esta aplicación vas a poder reservar turnos para la peluqueria. El admin va a poder gestionar todas estas reservas a través de su propia vista"
            />
            <Card
                image="./proyectos/URLShorter.png"
                imageDescription="URLShorter project image"
                technologies={["VUE", "VEEVALIDATE", "FIREBASE"]}
                to="https://url-shorter-xi.vercel.app/"
                title="Acortador de URLS"
                description="Los usuarios autenticados van a poder gestionar todas sus url acortadas, mientras que los no autenticados solo van a tener acceso a su último enlace acortado. Cuenta con autenticación mediante Google."
            />
            <Card
                image="./proyectos/StellaMaris.png"
                imageDescription="Landing page for a school project image"
                technologies={["VUE", "VUETIFY", "NOTION"]}
                to="https://stella-maris-sigma.vercel.app/"
                title="Stella Maris"
                description="Landing page para una escuela. Usa notion para manejar las publicaciones que se suben a la página."
            />
        </section>
    </section>
</Layout>
