@font-face {
  font-family: "Aurora";
  src: url("./assets/fonts/Aurora.otf");
}

@font-face {
  font-family: "Author-light";
  src: url("./assets/fonts/Author-Light.otf");
}

@font-face {
  font-family: "Author-regular";
  src: url("./assets/fonts/Author-Regular.otf");
}

@font-face {
  font-family: "ClashDisplay-light";
  src: url("./assets/fonts/ClashDisplay-Light.otf");
}

@font-face {
  font-family: "ClashDisplay-medium";
  src: url("./assets/fonts/ClashDisplay-Medium.otf");
}

@font-face {
  font-family: "ClashDisplay-semibold";
  src: url("./assets/fonts/ClashDisplay-Semibold.otf");
}
